//* COLORS
$primaryColor: #151E36;
$secondaryColor: linear-gradient(to right top, rgba(0, 49, 146, 0.46), #0F2554);

// $secondaryColor: rgba(0, 49, 146, 0.46);
// $color: #003192;
// $color1: #0F2554;
// $color2: #1C2B51;

//* FONTS

$roboto: 'Roboto',
sans-serif;

